*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* Blue: hsl(248, 32%, 49%);
    Dark Blue: hsl(249, 10%, 26%); 
    Grayish Blue: hsl(246, 25%, 77%);
    Font size: 16px
    Weights: 400, 500, 600, 700
    Red: hsl(0, 100%, 74%); 
    Green: hsl(154, 59%, 51%); */

}